/* Operators */
/* .cc-nada-operator {
  color: #ff5733;
} */

/* Data Types */
.cc-nada-special-function,
.cc-nada-secret-constructor {
  color: #005cc5;
}

.cc-nada-public-constructor {
  color: #22863a;
}

.cc-nada-party-constructor {
  color: #6f42c1;
}

.cc-nada-misc-constructor {
  color: #bc8e1d;
}

.cc-nada-literal-constructor {
  color: #3498db;
}

.code,
.cm-line {
  font-family: "Fira Code Variable", monospace !important;
  font-size: 14px;
}

.cm-focused {
  outline: none !important;
}
